body, html {
  padding: 0px;
  margin: 0px;
  background: rgba(230, 230, 230, 1);
}

h1 {
  color: rgba(200, 100, 100, 1);
}

.header {
  box-shadow: 0px 0px 5px rgba(100, 100, 100, 1);
  margin-bottom: 50px;
}

.list-group-item-action {
  cursor: pointer;
}

a.list-group-item-action:hover {
  background: #b1d3e8;
}

.btn-pr {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #949494;
  padding: 10px;
  text-decoration: none;
  border: none;
}

.btn-pr:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.close {
  cursor: pointer;
  float: right;
}
